header{
    width: 100%;

    nav{
        ul{
            list-style: none;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li{
                display: inline-block;

                a{
                    margin: 5px;
                    font-size: 2em;
                    font-family: Arial, Helvetica, sans-serif;
                    color: rgb(58, 58, 58);
                    text-decoration: none;
                }
                &:hover{
                    padding: 2px;
                    background-color: rgb(148, 163, 131);
                    border-radius: 10px;
                    transition: 0.4s ease;
                }
            }

        }
    }

}